header,
footer{
    min-height: 50px;
    background: white;
    display: flex;
}

.caja1,.caja2,.caja3,.caja4 {
    height: 465px;
    width: 350px;
    background: blue;
    float: left;
}

img{
    margin: 2px;
    height: 200px;
    width: 200px;
}
#content {
    min-height: 200px;
    display: inline-block;
    background: lightgrey;
    width: 70%;
}


@media (width <= 600px) {
    .content{
        width: 2px;
        background: aqua;
        display: none;
    }
    .menu{
        width: 100%;
        background: orange;
    }
}

@media (601px <= width <= 1199px) {
    .menu {
      background: red;
      display: flex;
    }
    .content{
        background: blue;
        display: flex;
    }
  }

